{{- $isVPS := eq .chezmoi.hostname "cloud-server" -}}
[data]
  email = "goodyer@gmail.com"
  name = "Justin"

[keepassxc]
{{- if eq .chezmoi.os "windows" }}
  database = "G:/My Drive/KeePass/AI API Keys.kdbx"
  command = "C:/Program Files/KeePassXC/keepassxc-cli.exe"
{{- else if $isVPS }}
  database = "/home/justin/Sync/KeePass/AI API Keys.kdbx"
{{- else }}
  database = "/mnt/g/My Drive/KeePass/AI API Keys.kdbx"
{{- end }}
