# Brainstorm project API keys (from KeePass)
export GOOGLE_CLIENT_ID={{ (keepassxc "Brainstorm Google Calendar API").UserName }}
export GOOGLE_CLIENT_SECRET={{ (keepassxc "Brainstorm Google Calendar API").Password }}
